@import "tailwindcss";

@layer utilities {
    .animate-spin-slow {
        animation: spin 4s linear infinite;
    }

    .font-eight {
        font-family: "eight";
    }
    .font-dmsans {
        font-family: "dmsans";
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer components {
    .icon-btn {
        @apply w-10 h-10 flex justify-center items-center text-[#666] rounded-lg cursor-pointer transition hover:text-white hover:bg-[#222];
    }
}

@layer utilities {
    .vertical-text {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .flower-shape {
        clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
        );
    }
}

@font-face {
    font-family: "eight";
    src: url(/assets/fonts/eight.OTF);
}
@font-face {
    font-family: "dmsans";
    src: url(/assets/fonts/DMSans-Regular.ttf);
}
