@import "tailwindcss";


@layer utilities {
  .animate-spin-slow {
    animation: spin 4s linear infinite;
  }
}

@layer components {
  .icon-btn {
    @apply w-10 h-10 flex justify-center items-center text-[#666] rounded-lg cursor-pointer transition hover:text-white hover:bg-[#222];
  }
}


@layer utilities {
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .flower-shape {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
}
